* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #ff8000; */
  padding: 15px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header img {
  height: 60px;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header ul li {
  color: black;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header ul li:hover {
  color: #f28108;
}
